@charset "UTF-8";
* { font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left, #18437A, #2566BA);
}
main{
    background-color:  white;
    margin: auto;
    padding: 10px;
    width: 600px;
    box-shadow: 5px 5px 10px #0d25449f;
    border-radius: 10px;
}
h1{
    color: #2566BA;
    text-align: center;
    text-shadow: 1px 1px 2px #11315a80;
}
h2{
   color: #2D7BE0; 
}
p{
    text-align: justify;
}